<section class="work-with-us">
    <div class="container grid-12">
        <div class="content">
            <p class="text-l">Ready to get started?</p>
            <h1>Take Your <span class="skills">Skills</span> to the Next Level</h1>
            <a class="btn-theme-small" href="#">Work with us</a>
        </div>
        <img src="/images/courses/illustration.svg" alt="Work with us">
    </div>
</section>


@code {

}
