@page "/upload"
@using System.Text.Json

@rendermode InteractiveServer

<InputFile OnChange="OnChangeInputAsync" />

<p>@statusMessage</p>
<p>@filePath</p>

@code {
    private string? filePath;
    private string statusMessage = "";

    private async Task OnChangeInputAsync(InputFileChangeEventArgs e)
    {


        if (e.File != null)
        {

            var url = "https://fileprovider-silicon-ev-er.azurewebsites.net/api/Upload?code=GJjHL29kB0kQP77bmDGnKEuWpfRlQnVsvW8RfuIpyv9MAzFuw0Xu9A%3D%3D&containerName=courses";

            var formData = new MultipartFormDataContent();
            formData.Headers.ContentType!.MediaType = "multipart/form-data";

            formData.Add(new StreamContent(e.File.OpenReadStream()), "file", e.File.Name);
            var response = await Http.PostAsync(url, formData);

            // await HttpClient.PostAsJsonAsync();


            if (response.IsSuccessStatusCode)
            {
                statusMessage = "Image was uploaded successfully.";

                var responseString = await response.Content.ReadAsStringAsync();
                var jsonDocument = JsonDocument.Parse(responseString);
                filePath = jsonDocument.RootElement.GetProperty("filePath").GetString();


            }
            else
            {
                statusMessage = "Something went wrong. Could not upload file.";
            }
        }
        else
        {
            statusMessage = "Please select a file to upload.";
        }
    }
}
