.courses {
    padding: 1rem 0;

    .container {

        .courses-options {
            display: flex;
            flex-direction: column;
            padding-top: 2rem;

            h1 {
                flex-grow: 1;
            }

            .filters {
                display: flex;
                flex-direction: column;
                gap: 1rem;

                
            }

            @include md {
                flex-direction: row;
                align-items: center;

                .filters {
                    flex-direction: row;

                    .dropdown {
                        min-width: 240px;
                    }

                    input {
                        min-width: 240px;
                    }
                }
            }
        }
    }
}