.account-security {

    .change-password {

        h5 {
            color: var(--clr-theme);
            padding-bottom: 20px;
        }

        form {

            .content {
                display: grid;
                gap: 1rem;
                grid-template-columns: 1fr;
                grid-template-areas: "currentpassword" "newpassword" "confirmpassword" "button";

                @include md {
                    grid-template-columns: repeat(2, 1fr);
                    column-gap: 1.5rem;
                    grid-template-areas: "currentpassword null" "newpassword confirmpassword" "button button";
                }

                #form-current-password {
                    grid-area: currentpassword;
                }

                #form-new-password {
                    grid-area: newpassword;
                }

                #form-confirm-password {
                    grid-area: confirmpassword;
                }

                #form-buttons {
                    grid-area: button;
                    padding-top: 1rem;
                    display: flex;
                    flex-direction: row;
                    gap: 1rem;
                }
            }
        }
    }

    .delete-account {

        h5 {
            color: var(--clr-theme);
            padding-bottom: 20px;
        }

        form {

            .content {
                display: flex;
                flex-direction: column;
                gap: 1.5rem;

                button {
                    align-self: flex-start;
                    background-color: var(--clr-danger);
                }
            }
        }
    }
}