@if (ShowCookies)
{
    <div id="cookie-consent" class="cookie-consent fixed-bottom">
        <div class="container">
            <h6>We´re using cookies! Mummms.</h6>
            <EditForm FormName="cookie" Model="HiddenForm" OnValidSubmit="AcceptCookies">
                <InputText hidden @bind-Value="HiddenForm.HiddenInput" />
                <button class="btn-theme-medium" type="submit">Ok</button>
            </EditForm>
        </div>
    </div>
}

@code {
    private bool ShowCookies;
    private HiddenModel HiddenForm { get; set; } = new();

    protected override void OnInitialized()
    {
        var context = HttpContextAccessor.HttpContext;
        if (context?.Request.Cookies["CookieConsent"] == null)
        {
            ShowCookies = true;
        }
    }

    private void AcceptCookies()
    {
        var context = HttpContextAccessor.HttpContext;
        var options = new CookieOptions
            {
                Expires = DateTime.Now.AddYears(1),
                HttpOnly = true,
                Secure = true,
            };

        context?.Response.Cookies.Append("CookieConsent", "true", options);
        ShowCookies = false;
        StateHasChanged();
    }

    private sealed class HiddenModel
    {
        public string HiddenInput { get; set; } = string.Empty;
    }
}