<p>Didn´t receive an email? <button type="button" class="btn-resend" @onclick="ResendCodeAsync">Resend email</button></p>

@code {

    [Parameter]
    public string? Email { get; set; }


    [SupplyParameterFromQuery]
    private string? ReturnUrl { get; set; }


    private async Task ResendCodeAsync()
    {
        try
        {
            var result = await Http.PostAsJsonAsync($"{Config["GenerateCode"]}", new { Email = Email });
            if (result.IsSuccessStatusCode)
            {
                ToastService.ShowToast("New code was sent", ToastLevel.Success);
            }
            else
            {
                ToastService.ShowToast("An error occurred. Please try again later!", ToastLevel.Error);
            }
        }
        catch (Exception)
        {
            ToastService.ShowToast("Our server is having a bad day. We're on it! Please try again later!", ToastLevel.Error);
        }

    }
}