@using System.Net.Http.Headers
@using System.Text.Json


<InputFile id="uploadFile" OnChange="OnInputFileChange" accept="image/*" hidden />
<label for="uploadFile" class="fa-regular fa-arrows-rotate-reverse change-user-img"><span class="tooltiptext">Change picture</span></label>

@code {

    






    private async Task OnInputFileChange(InputFileChangeEventArgs e)
    {



        if (e.File != null)
        {
            var formData = new MultipartFormDataContent();
            formData.Headers.ContentType!.MediaType = "multipart/form-data";


            formData.Add(new StreamContent(e.File.OpenReadStream(10*1024*1204)), "file", e.File.Name);

            try
            {
                var response = await Http.PostAsync($"{Config["FILE_PROVIDER"]}&containerName={"profiles"}", formData);
                if (response.IsSuccessStatusCode)
                {
                    var responseString = await response.Content.ReadAsStringAsync();
                    var jsonDocument = JsonDocument.Parse(responseString);
                    var filePath = jsonDocument.RootElement.GetProperty("filePath").GetString();

                    if (!string.IsNullOrEmpty(filePath))
                    {
                        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
                        var currentUser = authState.User;

                        var updateResult = await UserService.UpdateProfileImageAsync(filePath);
                        if (updateResult)
                        {
                            NavigationManager.Refresh();
                            // message
                        }
                    }





                }

            }
            catch (Exception)
            {

                throw;
            }
            //message



            


        }


        





    }
}
