#forgot {
    padding: 2rem 0;

    .container {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        gap: 1rem;

        h1 {
            padding-bottom: .5rem;
        }

        p{
            padding: 0;
            margin: 0;
        }

        .form-forgot {
            grid-column: 1/13;


            @include lg {
                grid-column: 3/11;
            }

            @include xl {
                grid-column: 4/10;
            }

            @include xxl {
                padding: 0 3rem;
            }

            .content {
                display: grid;
                gap: 1rem;
                grid-template-columns: 1fr;
                grid-template-areas: "header" "body" "email" "buttons";
                
                #form-email {
                    grid-area: email;
                }

                #form-buttons {
                    grid-area: buttons;
                    padding-top: 1rem;
                    display: flex;
                    flex-direction: column;
                    gap: 1rem;

                    @include md {
                        flex-direction: row;
                    }
                }
            }
        }

        .reset-password {
            grid-column: 1/13;

            @include lg {
                grid-column: 3/11;
            }

            @include xl {
                grid-column: 4/10;
            }

            @include xxl {
                padding: 0 3rem;
            }

            .reset-form {

                .content {
                    display: grid;
                    gap: 1rem;
                    grid-template-columns: 1fr;
                    grid-template-areas: "new" "confirm" "code" "buttons";


                    #form-newpassword {
                        grid-area: new;

                       margin-top: 1rem;
                    }

                    #form-confirmpassword {
                        grid-area: confirm;

                        p {
                            margin: 6px;
                        }
                    }

                    #form-verifycode {
                        grid-area: code;
                    }

                    #form-reset-buttons {
                        grid-area: buttons;
                        padding-top: 1rem;
                        display: flex;
                        flex-direction: column;
                        gap: 1rem;

                        @include md {
                            flex-direction: row;
                        }
                    }
                }
            }
        }
    }
}