@inherits LayoutComponentBase
@layout AccountLayout

<section class="account">
    <div class="container">
        <div class="grid-12">
            <ManageNavMenu />
            <main class="account-content">
                @Body
            </main>
        </div>
    </div>
</section>
