<section id="features" class="our-tool">
    <div class="container">
        <h1>What do you get with our tool?</h1>
        <p>Make sure all your tasks are organized so you can set the priorities and focus on important.</p>
        <div class="toolboxes-grid">
            <div class="box">
                <img src="/images/tools/chat.svg" alt="Comments on Tasks">
                <h5>Comments on Tasks</h5>
                <p>Id mollis consectetur congue egestas egestas suspendisse blandit justo.</p>
            </div>
            <div class="box">
                <img src="/images/tools/presentation.svg" alt="Tasks Analytics">
                <h5>Tasks Analytics</h5>
                <p>Non imperdiet facilisis nulla tellus Morbi scelerisque eget adipiscing vulputate.</p>
            </div>
            <div class="box">
                <img src="/images/tools/add-group.svg" alt="Multiple Assignees">
                <h5>Multiple Assignees</h5>
                <p>A elementum, imperdiet enim, pretium etiam facilisi in aenean quam mauris.</p>
            </div>
            <div class="box">
                <img src="/images/tools/bell.svg" alt="Notifications">
                <h5>Notifications</h5>
                <p>Diam, suspendisse velit cras ac. Lobortis diam volutpat, eget pellentesque viverra.</p>
            </div>
            <div class="box">
                <img src="/images/tools/subtasks.svg" alt="Sections & Subtask">
                <h5>Sections & Subtask</h5>
                <p>Mi feugiat hac id in. Sit elit placerat lacus nibh lorem ridiculus lectus.</p>
            </div>
            <div class="box">
                <img src="/images/tools/shield.svg" alt="Data Security">
                <h5>Data Security</h5>
                <p>Aliquam malesuada neque eget elit nulla vestibulum nunc cras.</p>
            </div>
        </div>
    </div>
</section>

@code {

}
