﻿<section class="manage-work">
    <div class="container grid-12">
        <img class="" src="/images/manage-your-work/manage_work.svg" alt="Dashboard">
        <div class="work-list">
            <h2>Manage Your Work</h2>
            <ul class="icon-list">
                <li class="text-m"><i class="fa-regular fa-circle-check"></i>Powerful project management</li>
                <li class="text-m"><i class="fa-regular fa-circle-check"></i>Transparent work management</li>
                <li class="text-m"><i class="fa-regular fa-circle-check"></i>Manage work & focus on the most important tasks</li>
                <li class="text-m"><i class="fa-regular fa-circle-check"></i>Track your progress with interactive charts</li>
                <li class="text-m"><i class="fa-regular fa-circle-check"></i>Easiest way to track time spent on tasks</li>
            </ul>
            <a class="btn-theme-medium" href="/learn-more">Learn more<i class="fa-sharp fa-regular fa-arrow-right"></i></a>
        </div>
    </div>
</section>

@code {

}
