<section class="our-app">
    <div class="container">
        <img class="phones col-sm-12 col-md-5 col-lg-5 col-xl-5" src="/images/download-app/phones.svg" alt="Phone">
        <div class="col-sm-12 col-md-7 col-lg-5 col-xl-5 col-xxl-4 content">
            <h1>Download Our App for Any Devices:</h1>
            <div class="app">
                <div>
                    <p class="text-m">App Store</p>
                    <div class="star-rating">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>
                    <h4>Editor´s Choice</h4>
                    <p class="text-m">rating 4.7, 187K+ reviews</p>
                </div>
                <div class="app-img">
                    <a href="#"><img src="/images/download-app/@(IsDarkMode ? "appstore-light.svg" : "appstore.svg")" alt="App Store"></a>
                </div>
            </div>
            <div class="app">
                <div>
                    <p class="text-m">Google Play</p>
                    <div class="star-rating">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>
                    <h4>App of the Day</h4>
                    <p class="text-m">rating 4.8, 30K+ reviews</p>
                </div>
                <div class="app-img">
                    <a href="#"><img src="/images/download-app/@(IsDarkMode ? "googleplay-light.svg": "googleplay.svg")" alt="Google Play"></a>
                </div>
            </div>
        </div>
    </div>
</section>

@code {

    private bool IsDarkMode { get; set; }


    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var currentUser = authState.User;
        var user = await UserService.GetCurrentUserAsync();

        IsDarkMode = user.DarkMode;

    }

}
