﻿<section class="switch-between">
    <div class="container">
        <div>
            <h1>Switch Between</h1>
            <h1>Light & Dark Mode</h1>
        </div>
        <img src="/images/switch-between/mockup.svg" alt="Laptop with dark and light mode">
    </div>
</section>

@code {

}
