﻿<section class="work-tools">
    <div class="container">
        <h1 class="text-center">Integrate Top Work Tools</h1>
        <p class="text-l text-center pt-4">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin
            volutpat mollis
            egestas. Nam luctus facilisis ultrices. Pellentesque volutpat ligula est. Mattis fermentum, at nec
            lacus.
        </p>
        <div class="tools grid-12">
            <div class="box">
                <img src="/images/work-tools/google.svg" alt="Google">
                <p class="text-m">Lorem magnis pretium sed curabitur nunc facilisi nunc cursus sagittis.</p>
            </div>

            <div class="box">
                <img src="/images/work-tools/zoom.svg" alt="Zoom">
                <p class="text-m">In eget a mauris quis. Tortor dui tempus quis integer est sit natoque placerat dolor.</p>
            </div>

            <div class="box">
                <img src="/images/work-tools/zlack.svg" alt="Zlack">
                <p class="text-m">Id mollis consectetur congue egestas egestas suspendisse blandit justo.</p>
            </div>

            <div class="box">
                <img src="/images/work-tools/gmail.svg" alt="Gmail">
                <p class="text-m">Rutrum interdum tortor, sed at nulla. A cursus bibendum elit purus cras praesent.</p>
            </div>

            <div class="box">
                <img src="/images/work-tools/trello.svg" alt="Trello">
                <p class="text-m">Congue pellentesque amet, viverra curabitur quam diam scelerisque fermentum urna.</p>
            </div>

            <div class="box">
                <img src="/images/work-tools/mailchimp.svg" alt="Mailchimp">
                <p class="text-m">A elementum, imperdiet enim, pretium etiam facilisi in aenean quam mauris.</p>
            </div>

            <div class="box">
                <img src="/images/work-tools/dropbox.svg" alt="Dropbox">
                <p class="text-m">Ut in turpis consequat odio diam lectus elementum. Est faucibus blandit platea.</p>
            </div>

            <div class="box">
                <img src="/images/work-tools/evernote.svg" alt="Evernote">
                <p class="text-m">Faucibus cursus maecenas lorem cursus nibh. Sociis sit risus id. Sit facilisis dolor arcu.</p>
            </div>
        </div>
    </div>
</section>

@code {

}
