.chat-bubble-right {
    text-align: right;
    background-color: var(--clr-theme);
    margin-left: auto;
    border-radius: 15px;
    padding: 10px;
    max-width: 75%;
}

.chat-bubble-right {
    text-align: left;
    background-color: var(--clr-gray-100);
    margin-right: auto;
    border-radius: 15px;
    padding: 10px;
    max-width: 75%;


}




.chat-container {
    padding: 20px;
    background-color: var(--clr-gray-200);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);


    .start-chat-container {
        margin: auto;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        width: 100%;
        padding: 20px;
        background-color: var(--clr-gray-200);
        border-radius: 8px;

        @include sm {
            width: 70%;
        }

        @include md {
            width: 60%;
        }


        p {
            color: var(--clr-text-header);
        }

        .form-control {
            padding: .85rem;
            width: 100%;
            box-shadow: none;
            background-color: var(--clr-input);
            color: var(--clr-text-body);


            &:focus {
                color: var(--clr-text-body);
            }

            &::placeholder {
                color: var(--clr-text-body);
            }
        }
    }



    .chat-window {
        

        .message-box {
            padding: 10px;
            border: 1px solid var(--clr-bg-section);
            border-radius: 4px;
            background-color: var(--clr-bg-section);
            display: flex;
            flex-direction: column;
            position: relative;
            min-height: 400px;

            .message-bubble {
                padding: 10px;
                margin: 10px 0;
                border-radius: 15px;
                clear: both;
                display: flex;
                flex-direction: column;
                width: fit-content;
                text-wrap: wrap;


                &.received {
                    background-color: var(--clr-theme-secondary);
                    color: white;
                    align-self: flex-start;
                    text-align: left;
                }

                &.sent {
                    background-color: var(--clr-theme);
                    color: white;
                    align-self: flex-end;
                    text-align: right;
                }
            }

            .typing-container {
                position: absolute;
                bottom: 10px;


                p {
                    color: var(--clr-text-header);
                    padding: 0;
                    margin: 0;
                }


                .typing-indicator {
                }
            }
        }




        .input-group {
            display: flex;

            textarea {
                resize: none;
                height: 80px;
                flex-grow: 1;
                box-shadow: none;
            }

            .input-group-append {
                display: flex;
                align-items: stretch;

                .btn-theme-medium {
                    border-start-start-radius: 0;
                    border-end-start-radius: 0;
                }
            }
        }
    }
}



