@page "/account/notifications"
<PageTitle>Account Notifications</PageTitle>



@rendermode InteractiveServer

<section class="account-notifications">
    <div class="container">
        <div class="d-flex flex-column gap-4">
           @*  @if (Alert != null)
            {
                <div class="alert alert-@Alert.Icon" role="alert">
                    @Alert.Message
                </div>
            } *@
            <h2>Notifications</h2>
            <div class="manage-notifications">
                <EditForm FormName="notify" Model="NotifyForm" method="post" OnValidSubmit="HandleSubmitAsync" novalidate>
                    <DataAnnotationsValidator />
                    <ValidationSummary />
                    <div class="content">
                        <div id="form-notify" class="input-group">
                            <label for="email-notify">Preferd email for notifications</label>
                            <InputText id="email-notify" @bind-Value="NotifyForm.Email" class="form-control" placeholder="example@gmail.com" />
                           @*  <ValidationMessage For="() => NotifyForm.Email" class="text-danger" /> *@
                        </div>

                        <div id="form-newsletter" class="input-group">
                            <div class="btn-switch">
                                <label class="switch" for="newsletter-toggle">
                                    <InputCheckbox @bind-Value="NotifyForm.Newsletter" id="newsletter-toggle" />
                                    <span class="slider round"></span>
                                </label>
                                <label>Subscribe to Newsletter</label>
                            </div>
                        </div>

                        <div id="form-darkmode" class="input-group">
                            <div class="btn-switch">
                                <label class="switch" for="theme-toggle">
                                    <InputCheckbox @bind-Value="NotifyForm.DarkMode" id="theme-toggle" />
                                    <span class="slider round"></span>
                                </label>
                                <label>Use Dark Mode Theme in Application</label>
                            </div>
                        </div>

                        <div id="form-buttons">
                            <button @onclick="ResetForm" disabled="@IsBusy" class="btn-gray-small" type="button">Cancel</button>
                            <button disabled="@IsBusy" class="btn-theme-small" type="submit">
                                @if (IsBusy)
                                {
                                    <div class="spinner-border spinner-border-sm" role="status">
                                        <span class="visually-hidden">Loading...</span>
                                    </div>
                                }
                                <span>Save changes</span>
                            </button>
                        </div>
                    </div>
                </EditForm>
            </div>
        </div>
    </div>
</section>

@code {


    private bool IsBusy;
    private UserDto user = default!;
    private AlertModel? Alert { get; set; }

    [SupplyParameterFromForm(FormName ="notify")]
    private NotifyModel NotifyForm { get; set; } = new();





    protected override async Task OnInitializedAsync()
    {
        user = await UserService.GetCurrentUserAsync();

        NotifyForm.Email ??= user.NewsletterEmail;
        NotifyForm.Newsletter = user.Newsletter;
        NotifyForm.DarkMode = user.DarkMode;


    }

    private async Task HandleSubmitAsync()
    {
        try
        {
            IsBusy = true;
            var result = await UserService.HandleNotificationsFormAsync(user.Id!, NotifyForm.Email!, NotifyForm.Newsletter, NotifyForm.DarkMode);
            switch (result.StatusCode)
            {
                case ResultStatus.OK:
                    // Alert = new AlertModel { Message = result.Message, Icon = "success" };

                    await Swal.FireAsync("Success", result.Message, SweetAlertIcon.Success);

                    



       


                    break;

                default:
                    // Alert = new AlertModel { Message = result.Message, Icon = "danger" };

                    await Swal.FireAsync("error", result.Message, SweetAlertIcon.Error);

                    break;
            }
        }
        catch (Exception)
        {
            // Alert = new AlertModel { Message = "An error occurred. Your changes could not be saved. Please contact support!", Icon = "danger" };
            await Swal.FireAsync("error", "An error occurred. Your changes could not be saved. Please contact support!", SweetAlertIcon.Error);
        }
        finally
        {
            IsBusy = false;
            NavigationManager.Refresh();
            
           
         

            
        }
    }


    private sealed class NotifyModel
    {
        public bool Newsletter { get; set; } = false;
        public bool DarkMode { get; set; } = false;

        [RequiredIfNewsletterChecked]
        [DataType(DataType.EmailAddress)]
        public string? Email { get; set; }

    }


    public class RequiredIfNewsletterCheckedAttribute : ValidationAttribute
    {
        protected override ValidationResult IsValid(object? value, ValidationContext validationContext)
        {
            var notifyModel = (NotifyModel)validationContext.ObjectInstance;
            var email = value as string;
            var emailPattern = @"^(([^<>()\]\\.,;:\s@\""]+(\.[^<>()\]\\.,;:\s@\""]+)*)|("".+""))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$";

            if (notifyModel.Newsletter)
            {
                if (string.IsNullOrEmpty(email) || !Regex.IsMatch(email, emailPattern))
                {
                    return new ValidationResult("A valid email is required when subscribed to the newsletter.");
                }
            }
            return ValidationResult.Success!;
        }
    }

    private void ResetForm()
    {
        NotifyForm.Email = "";
        NotifyForm.DarkMode = false;
        NotifyForm.Newsletter = false;
    }
}
